<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="骑迹">
        <meta name="keywords" content="骑迹 APP 骑行">
        <meta name="author" content="骑迹团队">
        <meta name="googlebot" content="index">
        <!-- Title -->
        <title>骑迹APP,骑士的专属</title>
        <!-- Templates core CSS -->
    <css href="__PUBLIC__/stylesheets/application.css" />
    <!-- Favicons -->
    <link href="__PUBLIC__/images/favicon/favicon.png" rel="shortcut icon" />
    <link href="__PUBLIC__/images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon" />
    <link href="__PUBLIC__/images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="__PUBLIC__/images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Modernizr Scripts -->
    <script src="__PUBLIC__/javascript/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="to-top">
    <!-- Side nav -->
    <div>
        <span style="margin-left:80%;margin-right: 40px">首页</span>
        <span style="margin-right: 40px"><a href="__PUBLIC__/other/aboutQiji.html" target="blank">关于骑迹</a></span>
    </div>
    <nav class="side-nav" role="navigation">
        <ul class="nav-side-nav">
            <li><a class="tooltip-side-nav" href="#section-1" title="" data-original-title="Services" data-placement="left"></a></li>
            <li><a class="tooltip-side-nav" href="#section-2" title="" data-original-title="Features" data-placement="left"></a></li>
            <li><a class="tooltip-side-nav" href="#section-3" title="" data-original-title="Subscribe" data-placement="left"></a></li>
            <li><a class="tooltip-side-nav" href="#to-top" title="" data-original-title="Back" data-placement="left"></a></li>
        </ul>
    </nav> <!-- /.side-nav -->
    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- Logo -->
                    <figure class="text-center">
                        <a href="./index.html">
                            <img class="img-logo" src="__PUBLIC__/images/logo.png" alt="">
                        </a>
                    </figure> <!-- /.text-center -->
                    <!-- Title -->
                    <h1>一路有我,因你而彩</h1>
                    <!-- Sub title -->
                    <p>
                        因为我们懂你,所以我们更加专业!赶快获取你忠实的骑行伴侣,从此伴你流浪到永远!
                    </p>
                    <!-- Button -->
                    <p class="btn-app-store">
                        <a class="btn btn-success btn-lg" href="#fakelinks">
                            <img src="__PUBLIC__/images/btn-app-store.png" alt="">
                        </a>
                        <a class="btn btn-danger btn-lg" href="#fakelinks">
                            <img src="__PUBLIC__/images/btn-app-store.png" alt="">
                        </a>
                    </p> <!-- /.btn-app-store -->
                </div> <!-- /.col-md-7 -->
                <div class="col-md-5">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone" id="phone1" src="__PUBLIC__/images/iphone/2-0.png" alt="">
                    </figure>
                    <div id="phoneFooter1">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>

                </div> <!-- /.col-md-5 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </header> <!-- /.jumbotron -->
    <!-- Services -->
    <section class="services-section" id="section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services" src="__PUBLIC__/images/icons/flag.png" alt="">
                    </figure>
                    <!-- Title -->
                    <h4>队伍</h4>
                    <!-- Description -->
                    <p>加入队伍,从此你就是有组织的人</p>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services" src="__PUBLIC__/images/icons/flag.png" alt="">
                    </figure>
                    <!-- Title -->
                    <h4>活动</h4>
                    <!-- Description -->
                    <p>参与活动,与小伙伴们尽享骑行乐趣</p>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services" src="__PUBLIC__/images/icons/flag.png" alt="">
                    </figure>
                    <!-- Title -->
                    <h4>聊天</h4>
                    <!-- Description -->
                    <p>畅聊无限,随时随地与小伙伴互动</p>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services" src="__PUBLIC__/images/icons/flag.png" alt="">
                    </figure>
                    <!-- Title -->
                    <h4>发现</h4>
                    <!-- Description -->
                    <p>轻松发现,原来有这么多人也喜欢骑行</p>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services" src="__PUBLIC__/images/icons/search.png" alt="">
                    </figure>

                    <!-- Title -->
                    <h4>数据</h4>
                    <!-- Description -->
                    <p>记录数据,原来自己也是一个骑行大神</p>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-services">
                    <!-- Icons -->
                    <figure>
                        <img class="img-services img-margin" src="__PUBLIC__/images/icons/world-map.png" alt="">
                    </figure>
                    <!-- Title -->
                    <h4>位置</h4>
                    <!-- Description -->
                    <p>自动定位,可以任性的想去儿去哪儿</p>
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /.services-section -->
    <!-- Features -->
    <section class="features-section" id="section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone" id="phone2" src="__PUBLIC__/images/iphone/team0.png" alt="">
                    </figure>
                    <div id="phoneFooter2">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-1">队伍</h3>
                    <!-- Description -->
                    <p>在骑行这个圈子里你还是孤单一人吗?
                        你还是散兵游勇吗?</p>
                        <p>
                        只有真正融入到骑行的大家庭<br>
                        才能享受到骑行带给自己惊喜<br>
                        你才是一个真正的骑士
                        </p>
                    <p>赶快寻找属于你的组织吧<br>从此你也是有组织的人<br>让大神带你任性带你飞。</p>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
            <div class="row media-screen-800">
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-2">活动</h3>
                    <!-- Description -->
                    <p>曾经是否因为种种原因无法去远行，
                        到现在都还有一丝丝的后悔，
                        就像欠自己一个承诺......</p>
                    <p>但是在这里,各种活动任凭选择，没有理由再能阻止你骑行的决心，是承诺迟早的偿还。</p>
                </div> <!-- /.col-md-7 -->
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone margin-top margin-screen-800" id="phone3" src="__PUBLIC__/images/iphone/4.png" alt="">
                    </figure>
                    <div id="phoneFooter3">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone margin-top margin-top-1" id="phone4" src="__PUBLIC__/images/iphone/3.png" alt="">
                    </figure>
                    <div id="phoneFooter4">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-3">聊天</h3>
                    <!-- Description -->
                    <p>路上太寂寞？想了解其他骑友信息？那就打电话？或者QQ联系？或者微信联系？其实只要安装了骑迹都可以轻松搞定。</p>
                    <p>骑迹APP自带即使聊天的功能，无需任何费用便可以轻松聊天，随时随地与骑友畅聊无限！</p>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
            <div class="row media-screen-800">
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-2">发现</h3>
                    <!-- Description -->
                    <p>其实你并不孤单，善于发现你便不同寻常！<br>
                        骑迹APP就是你的双眼，通过骑迹，你可以轻松发现周边队伍，周边的骑友，你会惊讶的发现原来身边有这么多的小伙伴喜欢骑行，在骑行这条道路上你再也不会感到孤单。</p>
                </div> <!-- /.col-md-7 -->
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone margin-top margin-screen-800" id="phone5" src="__PUBLIC__/images/iphone/4.png" alt="">
                    </figure>
                    <div id="phoneFooter5">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone margin-top margin-top-1" id="phone6" src="__PUBLIC__/images/iphone/3.png" alt="">
                    </figure>
                    <div id="phoneFooter6">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-3">数据</h3>
                    <!-- Description -->
                    <p>到现在为止你还能记起多少你曾经走过的路？还能记得你走过多长的路？或许你需要一种方式记录下来。<br>
                        骑迹APP专做你所想，做你想做，在骑行中自动记录位置、自动测速、精确绘制轨迹<br>
                        这或许也是你青春的印记，生命的痕迹，若干年后，当别人谈起这个地方，你至少可以说“这个地方我曾来过”。</p>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
            <div class="row media-screen-800">
                <div class="col-md-7 col-features features-content">
                    <!-- Title -->
                    <h3 id="title-2">位置</h3>
                    <!-- Description -->
                    <p>路漫漫不知何处，不要担心，不要彷徨，骑迹APP可以随时随地准确定位你的位置，从此告别路痴，从此可以流浪到天涯。</p>
                </div> <!-- /.col-md-7 -->
                <div class="col-md-5 col-features text-center">
                    <!-- Images showcase -->
                    <figure>
                        <img class="img-iPhone margin-top margin-screen-800" id="phone5" src="__PUBLIC__/images/iphone/4.png" alt="">
                    </figure>
                    <div id="phoneFooter5">
                        <span class="round">●<div style="visibility: hidden">0</div></span>
                        <span class="round">●<div style="visibility: hidden">1</div></span>
                        <span class="round">●<div style="visibility: hidden">2</div></span>
                        <span class="round">●<div style="visibility: hidden">3</div></span>
                    </div>
                </div> <!-- /.col-md-5 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /.features-section -->

    <!-- Subscribe -->
    

    <!-- Footer -->
    <footer class="footer-section" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer">
                    <!-- Footer 1 -->
                    <section>
                        <p>Made with <i class="fa fa-heart"></i> by Aryandhani.</p>
                    </section>
                    <!-- AddThis Button -->
                    <ul class="addthis_toolbox addthis_default_style">
                        <li><a class="addthis_button_facebook_like"></a></li>
                        <li><a class="addthis_button_tweet"></a></li>
                    </ul> <!-- /.addthis_toolbox -->
                    <script>var addthis_config = {"data_track_addressbar": true};</script>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-footer col-padding">
                    <!-- Footer 1 -->
                    <section class="text-center">
                        <p>Be sure to read <a href="#fakelinks">Terms</a> and <a href="#fakelinks">Privacy Policy</a>.</p>
                    </section>
                    <!-- Social media links -->
                    <ul class="social-media-links">
                        <li><a class="fa fa-twitter tw" href="#fakelinks"></a></li>
                        <li><a class="fa fa-facebook fb" href="#fakelinks"></a></li>
                        <li><a class="fa fa-pinterest pn" href="#fakelinks"></a></li>
                    </ul> <!-- /.social-media-links -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-footer">
                    <!-- Footer 1 -->
                    <section>
                        <p><strong>Guri Guri Nyoi, Inc</strong> <br>Antah berantah Street, Block 123 <br>Dimana saja, Kapan saja, 12356.</p>
                    </section>
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </footer> <!-- /.footer-section -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="__PUBLIC__/javascript/bootstrap.min.js"></script>
    <script src="__PUBLIC__/javascript/assets/application.js"></script>
    <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
    <script>
        var pics = ['2-0.png', '2-1.png', '2-2.png', '2-3.png'];
        var team=['team0.png','team1.png','team2.png','team3.png'];
        var i = 0;
        function playPic() {
            if (i === pics.length) {
                i = 0;
            }
            $('#phone1').attr('src', '__PUBLIC__/images/iphone/' + pics[i]);
            $('#phoneFooter1').find('span').eq(i - 1).css('color', '#e2e2e2');
            $('#phoneFooter1').find('span').eq(i).css('color', '#afafaf');
            i++;
            setTimeout("playPic()", 2000);
        }
        playPic();
        $('#phoneFooter1').find('span').hover(function () {
            var index = $(this).find('div').html();
            $('#phone1').attr('src', '__PUBLIC__/images/iphone/' + pics[index]);
            $(this).css('color', '#afafaf');
        });
        $('#phoneFooter11').find('span').mouseout(function () {
            $(this).css('color', '#e2e2e2');
        });
        /******************************************************/
        $('#phoneFooter2').find('span').hover(function () {
            var index = $(this).find('div').html();
            $('#phone2').attr('src', '__PUBLIC__/images/iphone/' + team[index]);
            $(this).css('color', '#afafaf');
        });
        $('#phoneFooter2').find('span').mouseout(function () {
            $(this).css('color', '#e2e2e2');
        });
        /******************************************************/
        $('#phoneFooter3').find('span').hover(function () {
            var index = $(this).find('div').html();
            $('#phone3').attr('src', '__PUBLIC__/images/iphone/' + pics[index]);
            $(this).css('color', '#afafaf');
        });
        $('#phoneFooter3').find('span').mouseout(function () {
            $(this).css('color', '#e2e2e2');
        });
        /********************************************************/
        $('#phoneFooter4').find('span').hover(function () {
            var index = $(this).find('div').html();
            $('#phone4').attr('src', '__PUBLIC__/images/iphone/' + pics[index]);
            $(this).css('color', '#afafaf');
        });
        $('#phoneFooter4').find('span').mouseout(function () {
            $(this).css('color', '#e2e2e2');
        });
    </script>
</body>
</html>
